.profile__about {
    color: #fff;
    margin: 0;
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 720px) {
    .profile__about {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .profile__about {
        font-size: 14px;
        max-width: 282px;
    }
}