.elements__grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    gap: 20px 17px;
    margin: 0;
    padding: 0;
    
}

@media screen and (max-width: 940px) {
    .elements__grid {
        grid-template-columns: repeat(2, auto);
    }
    
}