.header__logo {
  align-self: flex-start;
  padding-bottom: 40px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    padding-left: 28px;
    width: 104px;
    height: 24px;
  }
}