.header {
    display: flex;
    width: 80%;
    max-width: 880px;
    margin: 0 auto 0;
    padding: 45px 0 0;
    border-bottom: 1px solid #545454;
}
 @media screen and (max-width: 480px) {
     .header {
         width: 100%;
         padding: 28px 0 0;
     }
 }