.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 37px;
    margin: 0 auto 0;
}

@media screen and (max-width: 540px) {
    .popup__form {
        width: 238px;
    }
}