.profile__edit-btn {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    align-self: center;
    
    
}

@media screen and (max-width: 480px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
       
        
    }
}