.popup__submit-btn {
    background-color: #000;
    border-radius: 2px;
    justify-content: center;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    width: 358px;
    height: 50px;
    margin: 18px auto 0;
    border-width: 0;
    transition: opacity 0.2s linear 0s;    
    
}

.popup__submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .popup__submit-btn {
        max-width: 282px;
        width: 100%;
        font-size: 14px;
        
    }
}