.elements__item {
    display: flex;
    flex-direction: column;
    width: 282px;
    justify-self: center;
    
}

@media screen and (max-width: 480px) {
    .elements__item {
        max-width: 282px;
        width: 90%;
        
    }
}